// Mobile View
.letterItem {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 20px;
  justify-content: space-between;
  
}

.letter-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.letter-item-vh{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  
}

.cardStyle {
  width: 85vw;
  margin: 20px;
  display: flex;
  flex-direction: row;
  font-family: 'Poiret One', cursive;
  border: 2px solid mediumpurple;
  box-shadow: 10px 23px rebeccapurple;
  
  

};
.letter-wrapper-primary{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
};
.letter-wrapper-secondary{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-between;
};
.letter-text-area{
  width: 90%;
};
.letter-actions{
  width:86px;
  display: flex;
  justify-content:space-evenly;
};
.hidden-component{
  opacity: 0%;
}

.response-cardStyle {
  width: 72vw;
  background-color: pink;
  // margin: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
};

.form-component{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.form-buttons{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.align-button-send {
  margin-left: 10px;
}

.report-button {
  width: 90%;
  margin: 15px auto 0;
  display: flex;
  justify-content: flex-end;
}

.login{
  display:flex;
  flex-direction: column;
  width: 100%;
  margin: 50px auto;
}

.login-error{
  font-size: 1.3rem;
  text-align: center;
  margin:0 auto;
  color:#880176;
  margin-top: 10px;
}
.empty-letter-img{
  width: 100%;
  height: 200px;
  background-image: url("../assests/output-onlinegiftools-unscreen.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homepage{
  background-image: url("../assests/bg-img.gif.gif");
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: 542px; 
}
.character-color-lesser{
  color:red;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
}
.character-color-greater{
  color:purple;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 10px;
}

.guy-heart-container{
  display: flex;
  margin-top: 15px;
  width: 400px;
  height: 100px;
  justify-content: center;
}

.guy-heart{
  margin: 0 auto;
  width: 25%;
  height: 125px;
  background-image: url("../assests/com-gif-maker-1--unscreen.gif");
  background-repeat: no-repeat;
  background-size: contain;
}



.letterList-container{
  margin-top: 15px;

}
.letterDetail{
  margin-top: 6px;
}

.top-nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 76px;
  align-items: center;
  border-bottom: 1px solid grey;
  
  // border-bottom: 1px solid rgb(160, 160, 160);
  background-color: white;
}

.top-nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 0 10px 0 10px;
  height: 100%;
}

.top-nav-bar-rightcontainer{
  display: flex;
  // margin-right: 15px;
  justify-content: center;
  align-items: center;
}

.top-nav-bar-leftcontainer{
  margin-left: 20px;
}

.logo{
  margin-top: 7px;
  margin-left: 10px;
  width: 50%;
  height: 80%;
  background-image: url("../assests/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor:pointer;
}

.notification-bell{
  position: relative;
  cursor: pointer;
}


.notification-counter{
  position: absolute;
  right: 1px;
  top: -10px;
  border-radius: 50%;
  padding: 4px;
  background: white;
  border: 1px solid transparent;
  color: rgb(250, 0, 0);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  height: 12px;
  font-weight: 600;


}
.inputSelector{
  display: flex;
  width: 100%
}
.letter-report-component{
  display: flex;
  width: 100%;
  flex-direction: column;
 
  align-items: center;
}

.lettertype-indicator{
  margin-bottom: 7px;
  font-weight: 300;
}
.nav-bar{
  background-color: rgb(0, 255, 0);
}



//Desktop View
@media (min-width: 481px) {
  .cardStyle{
    max-width: 481px;
    margin: 20px;
    
  }
  .top-nav-bar{
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    
    height: 76px;
    align-items: center;
    border-bottom: 1px solid grey;
    // border-left: 1px solid rgb(160, 160, 160);
    // border-right: 1px solid rgb(160, 160, 160);
  
  
  
  }
  
  .homepage{
    background-image: url("../assests/bg-img.gif.gif");
    background-repeat: no-repeat;
    background-position: bottom right;
    max-width: 707px;
    height: 542px; 
  }
 
  .letter-item-vh{
    height: fit-content;
    max-width : 481px;
    margin: 20px;
    display: flex;
    flex-direction: row;
  }
  .login{
    display:flex;
    flex-direction: column;
    max-width: 707px;
    margin: 50px auto;
  }
  .form-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
  }
  .report-button {
    
    max-width: 481px;
    margin: 7px ;
    display: flex;
    justify-content: flex-end;
  }

  .hr-divider{
    width: 85%;
  }
  .letter-report-component{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }



  
}

@media ( max-height: 700px) {
  .homepage{
    background-image: url("../assests/bg-img.gif.gif");
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    height: 66vh; 
  }
}

