// Mobile View
.letterItem {
  display: flex;
  flex-direction: column;
  height: 30vh;
  margin: 20px;
  justify-content: space-between;
}

.letterItem footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

//Desktop View
@media (min-width: 481px) {
  .letterItem {

  }
}
