// Mobile View
.letterItem {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../assests/chrome_2022-08-06_23-07-14.png');
  // background-repeat: no-repeat;
  width: 300px;
  height: 480px;
  background-size: 330px 500px;
  background-position: center;
  font-size: 2.5rem;
  margin: 1rem;
  font-family: 'Square Peg', cursive;
  // align-items: center;
  // width: 60px;
  // border: solid;
  // border-width: 3px;
  // border-color: red;
  // padding: 6px;
  // margin: 1em;
  .letterMessage{
    display: flex;
    width: 70%;
    // align-items: center;
    justify-content: center;
    text-align: center;
  }
  h5{
    align-items: flex-start;
    margin: 0;
    text-align: left;
  }
}

//Desktop View
@media (min-width: 354px) {
  .letterItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    border: solid;
    border-width: 3px;
    border-color: red;
    padding: 6px;
    margin: 1em;
  }
}
