#music-widget{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 1vw;
  margin-right: 5px;
  bottom: 7vh;
  margin-bottom: 10px;
  z-index: 2;
  p {
    font-size: 0.4em;
    margin: 0px;
    color: #FFFFFF
    ;
    
  }
  #music-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px #414141;
    background-color: #aca4b4;
    border-color: #626273;
  }
  .music-control{
    color: #FFFFFF;
  }
  
  
  #music-widget-show{
    color:purple
  }
}
#music-widget :hover{
  background-color: #aca4b4;
  border-radius: 5px;
  cursor: pointer;
}